<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự báo thời tiết</title>

</head>
<body>
    <h1>Dự báo thời tiết</h1>

    <h3> Chọn thuật toán: </h3>
    <select id="algorithm">
        <option value="perceptron">Perceptron Learning Agorithm</option>
        <option value="decision_tree">ID3</option>
        <option value="neral_network">Neural Network </option>
    </select>

    <h3>Chọn dữ liệu:</h3>

    <form id="weather-form">
        <label for="precipitation">Precipitation:</label>
        <input type="number" id="precipitation" name="precipitation" step="any"><br>

        <label for="temp_max">Temp Max:</label>
        <input type="number" id="temp_max" name="temp_max" step="any"><br>

        <label for="temp_min">Temp Min:</label>
        <input type="number" id="temp_min" name="temp_min" step="any"><br>

        <label for="wind">Wind:</label>
        <input type="number" id="wind" name="wind" step="any"><br>


        <button type="submit">Dự đoán</button>
    </form>

    <h2>Kết quả:</h2>

    <p id="result"></p>

    <h3>Báo cáo phân loại:</h3>

    <div id="classification-report"></div>

    <h3>Ma trận nhầm lẫn:</h3>

    <img id="confusion-matrix" src="" alt="Confusion Matrix" />

    <script src="../static/FormControl.js"></script>
</body>
</html>
